<table>
    <thead>
        <tr>
            <th>PostId</th>
            <th>Title</th>
            <th>View Count</th>
            <th>Creation Date</th>
            <th>Post Publish Statement</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of pagedData">
            <td>{{item.postId}}</td>
            <td>{{item.title}}</td>
            <td>{{item.viewCount}}</td>
            <td>{{item.creationDate}}</td>
            <td>{{item.isPublished}}</td>
            <app-button [buttonText]="'Detail'" [id]= "item.postId" (onButtonClick)="handleDetailClick($event)"></app-button>
            <app-button [buttonText]="'Delete'" [id]= "item.postId" (onButtonClick)="handleDeleteClick($event)" ></app-button>
        </tr>
    </tbody>
</table>

<div class="pagination" *ngIf="totalPages > 0">
    <button [disabled]="currentPage === 1" (click)="previousPage()">Previous</button>
    <span>{{ currentPage }}</span>
    <button [disabled]="currentPage === totalPages" (click)="nextPage()">Next</button>
</div>

<button [routerLink]="'/postadd'">Add Post</button>
